body {
    width: 100% !important;
}
.container.head {
    min-width: 100% !important;
    width: 100% !important;
}
.container.main {
    background: transparent;
    float: right;
    margin-top: 54px;
    min-height: 100%;
    min-width: 83% !important;
    width: 83% !important;
}
.page-title {
    background: #198754;
    border-radius: 0 0 5px 5px;
    color: #fff;
    margin: 0 0 20px 0;
    padding: 10px 2%;
    width: 100%;
}

#app {
    background: red;
}

@media only screen and (max-width: 800px) {
    .container.main {
        min-width: 90% !important;
        width: 90% !important;
    }
}